<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
  <link rel="icon" type="image/jpeg" href="{{ site.baseurl }}/image/cup.jpeg">
</head>
<body>
  <header class="topbar">
    <div class="logo-title-nav">
      <div class="logo-title">
        <img src="{{ site.baseurl }}/image/cupNBG.png" alt="Logo" class="logo" id="logo-audio-toggle">
        <div class="title-nav">
          <div class="site-name">{{ site.title }}</div>
        </div>
      </div>
      {% include navbar.html %}
    </div>
    {% include searchbar.html %}
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    © 2025 Ian Codding II
  </footer>
  <script src="{{ site.baseurl }}/scripts/music-toggle.js"></script>
  <script src="{{ site.baseurl }}/scripts/hamburger.js"></script>
</body>
</html>