/* Base styles */
body {
  background-color: #ccbfb0;
  font-family: 'Times New Roman', Times, serif;
}

/* Logo and Title */
.custom-label {
  font-weight: bold;
  font-style: italic;
  color: #5e4434;
  font-size: 50px;
  margin: 10px 0;
}

.inline-elements {
  display: inline-block;
  vertical-align: middle;
}

#logo-audio-toggle {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  border-radius: 50%;
}

#logo-audio-toggle:hover {
  transform: scale(1.1);
}

.playing {
  box-shadow: 0 0 15px 5px gold;
}

/* Navigation */
nav {
  margin: 20px 0;
}

/* Main content area */
main {
  max-width: 900px;
  width: 100%;
  padding: 20px;
}

/* Footer */
footer {
  margin-top: 40px;
  font-size: 14px;
  color: #5e4434;
}

/* Search bar */
#site-search form {
  background-color: #e4c594;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 20px auto;
}

#site-search input {
  all: unset;
  font: 16px system-ui;
  color: #ac792a;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

#site-search ::placeholder {
  color: #ac792a;
  opacity: 0.7;
}

#site-search svg {
  color: #ac792a;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

#site-search button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
